{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if not $img -}}
  {{- $img = .Page.Resources.GetMatch (printf "images/%s" .Destination) -}}
{{- end -}}

{{- $src   := .Destination | safeURL -}}
{{- $alt   := .PlainText -}}
{{- $class := "" -}}
{{- $width := "" -}}

{{- $matched := false -}}
{{- $parts := split .Title " " -}}
{{- range $parts -}}
  {{- if eq . "derecha"  -}}{{- $class = "img-derecha"   -}}{{- $matched = true -}}{{- end -}}
  {{- if eq . "izquierda" -}}{{- $class = "img-izquierda" -}}{{- $matched = true -}}{{- end -}}
  {{- if eq . "centrada" -}}{{- $class = "img-centrada"  -}}{{- $matched = true -}}{{- end -}}
  {{- if findRE `^\d+$` . -}}{{- $width = . -}}{{- $matched = true -}}{{- end -}}
{{- end -}}
{{- $caption := "" -}}
{{- if and .Title (not $matched) -}}{{- $caption = .Title -}}{{- end -}}

{{- if $img -}}
  {{- $style := "" -}}
  {{- $sizes := "(max-width: 860px) 100vw, 756px" -}}
  {{- $widths := slice 400 800 1600 -}}
  {{- if $width -}}
    {{- $style = printf "width:%spx" $width -}}
    {{- $wInt := int $width -}}
    {{- $sizes = printf "%dpx" $wInt -}}
    {{- $widths = slice $wInt (mul $wInt 2) -}}
  {{- end -}}
  {{- partial "responsive-img.html" (dict "img" $img "alt" $alt "class" $class "style" $style "title" $caption "sizes" $sizes "widths" $widths) -}}
{{- else -}}
<img src="{{ $src }}" alt="{{ $alt }}"
  {{- with $class }} class="{{ . }}"{{ end -}}
  {{- with $width }} style="width:{{ . }}px"{{ end -}}
  {{- with $caption }} title="{{ . }}"{{ end -}}
>
{{- end -}}
