<aside class="sidebar">

  {{ $toc := partial "toc.html" . | strings.TrimSpace }}
  {{ if $toc }}
  <div class="sidebar-block sidebar-toc">
    {{ $toc | safeHTML }}
  </div>
  <hr class="sidebar-rule sidebar-toc-rule">
  {{ end }}

  <div class="sidebar-block">
    <h2>Últimas entradas</h2>
    <ul class="sidebar-list">
      {{ range partial "latest-posts.html" . }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>

  <hr class="sidebar-rule">
  <div class="sidebar-block">
    {{ partial "newsletter.html" . }}
  </div>

</aside>
