<section class="hero">
  {{ $images := resources.Match "hero/*.jpg" }}
  {{ with $images | shuffle | first 1 }}
  {{ $img := index . 0 }}
  <div class="hero-bg" style="background-image: url('{{ $img.RelPermalink }}')"></div>
  {{ end }}
  <div class="container">
    <div class="hero-inner">
      {{ .Content }}
      <div class="hero-links">
        <a class="btn-hero" href="{{ "libros/" | relURL }}">Libros</a>
        <a class="btn-hero" href="{{ "proyectos/" | relURL }}">Proyectos</a>
        <a class="btn-hero" href="{{ "posts/" | relURL }}">Artículos</a>
      </div>
    </div>
  </div>
</section>
